@using PatientsPortal.Methods
@model PatientsPortalModel.ViewModels.WorkHoursViewModels.WorkHourDetailsViewModel
@{
    ViewBag.Title = "Godziny pracy";
}
<div class="row page-box">
    <div class="col-sm-8">
        <div>
            <h3>Lekarz:</h3>
            <span>@Model.Doctor.FirstName @Model.Doctor.LastName</span>
        </div>
        <div>
            <h3>Specjalizacja:</h3>
            <span>@Model.Doctor.Specialization</span>
        </div>
        <div>
            <h3>Dzień pracy:</h3>
            @Methods.ConvertDateToDateWithoutTime(Model.WorkDate)
        </div>
        <div>
            <h3>Godzina rozpoczęcia pracy:</h3>
            @Methods.ConvertIntToTimeString(Model.StartTime)
        </div>
        <div>
            <h3>Godzina zakończenia pracy:</h3>
            @Methods.ConvertIntToTimeString(Model.EndTime)
        </div>
    </div>
    @if ((Roles.IsUserInRole(Membership.GetUser().UserName, "Administrator")))
    {
        <div class="col-sm-4">
            <div>
                <div>
                    <label>Data stworzenia:</label>
                    <span>@Model.CreatedDate</span>
                </div>

                <div>
                    <label>Stworzone przez:</label>
                    <span>@Html.ActionLink(Model.CreatedBy,
                              "Details", "User", new {id = Methods.GetUserIdByUserName(@Model.CreatedBy) }, null)</span>
                </div>

                @if (Model.ModifiedDate != null)
                {
                    <div>
                        <label>Data zmodyfikowania:</label>
                        <span>@Model.ModifiedDate</span>
                    </div>
                }

                @if (Model.ModifiedBy != null)
                {
                    <div>
                        <label>Zmodyfikowane przez:</label>
                        <span>@Html.ActionLink(Model.ModifiedBy,
                                  "Details", "User", new {id = Methods.GetUserIdByUserName(@Model.CreatedBy) }, null)</span>
                    </div>
                }

            </div>
        </div>
    }

</div>